body {
  margin: auto;
}

h1 {
  font-size: 2.6em;
  line-height: 1.3;
  color: #fff;
  margin: 0px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #e0afa0;
  padding: 10rem;
}

.quote p {
  width: 50vw;
  height: auto;
  margin: 0px;
}

.about-container {
  background-color: #f4f3ee;
  padding: 10rem;
}

.skills-section {
  background-color: #bcb8b1;
  padding: 10rem;
}

.work-section {
  background-color: #8a817c;
  padding: 10rem;
}

.work-section h4 {
  color: white;
}

.work-section h2 {
  color: white;
}

.contact-section {
  background-color: #463f3a;
  padding: 10rem;
}

.contact-section h4 {
  color: white;
}

.custom-pink {
  background-color: #e0afa0;
}

.custom-dark-gray {
  background-color: #463f3a;
}

.custom-medium-gray {
  background-color: #8a817c;
}

.custom-light-gray {
  background-color: #bcb8b1;
}

.custom-white {
  background-color: #f4f3ee;
}

.container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}

.devicon-html5-plain,
.devicon-css3-plain,
.devicon-javascript-plain,
.devicon-react-original,
.devicon-git-plain,
.devicon-github-original,
.devicon-vscode-plain,
.devicon-nodejs-plain-wordmark,
.devicon-npm-original-wordmark,
.devicon-mongodb-plain,
.devicon-mongoose-original,
.devicon-express-original,
.devicon-typescript-plain,
.devicon-postman-plain,
.devicon-netlify-plain,
.devicon-nodemon-plain {
  font-size: 5rem;
  margin: 0 1rem;
}
