body {
  margin: auto;
}

h1 {
  font-size: 2.6em;
  line-height: 1.3;
  color: #fff;
  margin: 0px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #E0AFA0;
  padding: 10rem;
}

.quote p {
  width: 50vw;
  height: auto;
  margin: 0px;
}

.about-container {
  background-color: #F4F3EE;
  padding: 10rem;
}

.skills-section {
  background-color: #BCB8B1;
  padding: 10rem;
}