body {
  margin: auto;
}

h1 {
  font-size: 2.6em;
  line-height: 1.3;
  color: #fff;
  margin: 0px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #e0afa0;
  padding: 10rem;
}

.quote p {
  width: 50vw;
  height: auto;
  margin: 0px;
}

.about-container {
  background-color: #f4f3ee;
  padding: 10rem;
}

.skills-section {
  background-color: #bcb8b1;
  padding: 10rem;
}

.work-section {
  background-color: #8a817c;
  padding: 10rem;
}

.work-section h4, .work-section p {
  color: white;
}

.work-section h2 {
  color: white;
}

.contact-section {
  background-color: #463f3a;
  padding: 10rem;
}

.contact-section h4 {
  color: white;
}

.custom-pink {
  background-color: #e0afa0;
}

.custom-dark-gray {
  background-color: #463f3a;
}

.custom-medium-gray {
  background-color: #8a817c;
}

.custom-light-gray {
  background-color: #bcb8b1;
}

.custom-white {
  background-color: #f4f3ee;
}

.container-icons {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}

.box-icon:hover {
  color: #fff; 
}

.devicon-html5-plain,
.devicon-css3-plain,
.devicon-javascript-plain,
.devicon-react-original,
.devicon-git-plain,
.devicon-github-original,
.devicon-vscode-plain,
.devicon-nodejs-plain-wordmark,
.devicon-npm-original-wordmark,
.devicon-mongodb-plain,
.devicon-mongoose-original,
.devicon-express-original,
.devicon-typescript-plain,
.devicon-postman-plain,
.devicon-netlify-plain,
.devicon-nodemon-plain,
.devicon-bootstrap-plain,
.devicon-tailwindcss-original,
.devicon-axios-plain-wordmark {
  font-size: 5rem;
  margin: 0 1rem;
}

.profile-pic {
  filter: grayscale(100%);
  border-radius: 35%;
  transition: filter 0.3s;
  max-width: 15vw; 
}

.profile-pic:hover {
  filter: grayscale(0%);
  border-radius: 35%;
}

.form-label {
  color: #fff;
}

.work-images {
  max-width: 30vw;
  padding-left:  1rem;
  padding-right: 1rem;
  border-radius: 5%;
}

.about-description {
  display: flex;
  flex-direction: row;
}

.about-text {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  padding: 2rem;
}

.accordion-item {
  background-color: transparent !important;
  border-radius: 10px;
}

.accordion-header button {
  border-radius: 10px;
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: white;
}

.accordion-button {
  color: white;
}

.rounded-btn {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #463f3a; 
  color: #fff; 
  border: none;
  margin: 10px;
  max-width: fit-content;
}

.rounded-btn:hover {
  background-color: #706964;
}

.accordion-body {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.work-images{
  display: flex;
  flex-direction: row;
}

.work-btn{
  display: flex;
  flex-direction: row;
}

.carousel {
  max-width: 30vw; 
  margin: auto;
}

.form-control{
  background-color: #f4f3ee;
}